.main-page {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    &__header {
        margin-top: 5%;
        font-size: 48px
    }

    &__text {
        margin-top: 26px;
        font-size: 20px;
        margin-bottom: 100px;
    }
}
